body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,button,textarea{
	padding: 0;
	margin: 0;
}
html,body{
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
}
.top{
	position: relative;
	width: 100%;
	height: 85px;
	background:url(../images/1_02.png) no-repeat left center;
	background-size: cover;
	overflow: hidden;
}
.title{
	float: left;
	color: white;
}

.twoPage{
	width: 300px;
	height: 85px;
	margin: 15px auto;
	list-style: none;
}
.twoPage li{
	float: left;
	width: 140px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	border-radius: 4px;
	cursor: pointer;
	background: linear-gradient(to bottom, #c5e6ed, #f7ffff);
	background: linear-gradient(to top, #c5e6ed, #f7ffff);
}
.twoPage li:first-child{
	margin-right: 10px;
}
.top_right{
	position: absolute;
	right: 0;
	top: 0;
	width: 300px;
	height: 85px;
	float: right;
	list-style: none;
}
.top_right li{
	float: left;
	width: 150px;
	height: 85px;
	line-height: 85px;
}
.top_right li a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.personinfo{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 5;
	color: white;
}
.personinfoform fieldset{
	margin: 200px auto;
	width: 500px;
	height: 400px;
	box-sizing: border-box;
	padding: 100px 20px;
	text-align: center;
}
.personinfoform .pshadow{
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}
.personinfoform .pinput{
	width: 200px;
	height: 30px;
	box-sizing: border-box;
	padding: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
}
#save,#cancel{
width: 50px;
height: 30px;
line-height: 25px;
border-radius: 4px;
}

.middle .middle_top{
	width: 100%;
	height: 40px;
	background-color: #e7f9fb;
}
.middle .choose{
	margin: 15px auto;
	text-align: center;
}
.middle .choose input[type=text]{
	width: 190px;
	height: 28px;
	box-sizing: border-box;
	padding: 3px 5px;
	border-radius: 3px;
	margin-right: 3px;
}
.middle .choose input[type=radio]{
	cursor: pointer;
}
.chaxun{
	width: 50px;
	height: 28px;
	line-height: 28px;
}
.fenGeXian{
	width: 100%;
	height: 1px;
	background-color: blue;
}
.biaoge{
	margin: 10px auto;
	width: 80%;
	text-align: center;
	border-collapse: collapse;
	cursor: pointer;
}
.biaoge .tr{
	background-color: #e7f9fb;
}
.biaoge tr td{
	border: 1px solid #000;
	height: 35px;
	line-height: 35px;
}
.shawdow{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.s_content{
	width: 60%;
	height: 600px;
	margin: 150px auto;
	background-color: #e7f9fb;
	box-sizing: border-box;
	padding: 10px 15px;
	overflow: hidden;
}
.sha_title{
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}
.sha_title .kaoqin{
	display: inline-block;
	color: black;
	float: left;
}
.sha_title .close{
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background-color: red;
	float: right;
}
.inner{
	width: 100%;
	height: 500px;
	background-color: #fff;
	box-sizing: border-box;
	padding-top: 20px;
}
.inner select{
	width: 80px;
	height: 25px;
	line-height:25px;
}
.riqi{
	height: 35px;
	text-align: center;
	margin: 20px auto;
}
.yuangongBiao{
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	text-align: center;
	cursor: pointer;
}
.yuangongBiao .tr td{
background-color: #e7f9fb;
}
.yuangongBiao tr td{
	border: 1px solid #000;
}
#box{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -250px;
}
.page {
	height: 30px;
	width: 500px;
	margin: 50px auto;
}

.page span {
	float: left;
	height: 30px;
	width: 100px;
	text-align: center;
	line-height: 30px;
	background-color: black;
	color: aliceblue;
	cursor: pointer; 
}

.page .page-content {
	float: left;
	height: 30px;
}

.page-content li {
	float: left;
	height: 30px;
	width: 30px;
	color: blue;
	text-align: center;
	line-height: 30px;
	margin-left: 4px; 
	margin-right: 4px ;
	cursor: pointer; 
	list-style: none;
}
.page-content li:hover{
	box-sizing: border-box;
	border: 1px solid #000;
	color: black;
}
.page-content li.selected{
	background-color: rebeccapurple;
}

.page .disabled{
	background-color: gray;
}
