@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,button,textarea{
	padding: 0;
	margin: 0;
}
input[type="button"],input[type="submit"],input[type="reset"],button{
	cursor: pointer;
}
img{
	vertical-align: top;
	border: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	/*inherit继承父元素的属性值*/
	color: inherit;
}
a:hover{
	color: red;
}
html{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #333;
}
.cl:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.cl{
	/*解决IE6、7的浮动问题*/
	zoom: 1;
}
.w{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
/**************** 单行超出省略 ********************/
.el{
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.bd0{
	border: 0;
}
.red{
	color: red;
}
.center{
	text-align: center;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.topIndex{
 background-color: #8c222c;
 height: 40px;
}
.header{
   
    height: 40px;
    line-height: 40px;
    color:white;

    .headerL {
        float: left;
        width: 300px;
    }

    .headerR {
        float: right;
        // width: 300px;
    }
    span {
        display: inline-block;
        margin: 0 5px;

    }
}
.header-nav {
    height: 100px;
    background-color: #f2f1ea;
    .header-search{
        height: 100px;
        line-height: 100px;
        .header-img{
            height: 41px;
            width: 232px;
            float: left;
            .logo-1{
                width: 100%;
                height: 41px;    
                margin-top:30px;
                display:inline-block;
            }
        }
    }

    .header-search-dv {
        width: 600px;
        height: 100px;
        float: right;
        line-height: 100px;

        .header-bx {
            height: 40px;
            width: 600px;
            margin-top:30px;
            
            .header-inpt {
                height: 40px;
                width: 500px;
                float: left;
                // border:1px solid #8c222c;
                // margin-left: 5px;
                    .header-inpt-inpt {
                        height: 40px;
                        width: 500px;
                        float: left;
            }
        }
        .search-btn {
            background-color: #8c222c;
            width: 90px;
            height: 40px;
            float: left;
            color:white;
            margin-left:5px;
            // margin-top:5px;
            span{
                display:inline
                 }
             }
        }

    }
}
.nav{
    position: relative;
    height: 300px;
   
    .navUl{
        float: left;
        width: 180px;
        height: 30px;

        line-height: 30px;
        text-align: center;
        :first-Child {
            background-color: #8c222c;
        }
    }       
    .showBook1{
        float: left;
         position: absolute;
         width: 800px;
         height: 300px;
         top:0;
         color:white;
         left:180px;
         top:0;
         z-index:9;
         background-color: #f2f1ea;
          display:none;
        // opacity:0;
         border:2px solid #8c222c;
        .navli1-ul1 li,.navli1-ul2 li{
            display:inline-block;

        }
    }
    .lunboimgx{
        float: left;
    }
    .lunboimgx img{
        width: 504px;
        height: 32px;
    }
}
.lunboDiv{
     margin-left:180px;
    float: right;
    width: 1010px;
     margin-top:-30px;
    overflow:hidden; 
     position:relative;
     height: 270px;
 
    .lunbo{
        width: 1010px;
        position:relative;
        height: 270px;
        .aaa{
            background: url(img/2.jpg);
        }
         .lunbo li {
             width: 1010px;
             height: 270px;
             position: relative;
             display: none;
           
         }

       
    }
}
     .selectImg{
         position:absolute;
         right:0;
         top:50px;
        //   float:left;
     }
        .selectImg li {
                width: 160px;
                height: 30px;
                line-height: 30px;

        }
    .news{
        margin-left: 191px;
    }
    
    .lunbo .select{
         display: block;
    }

.fo{
    font-size:16px;
    font-weight: 800;
}
.fo2{
       font-size:14px;
       font-weight: 800;
        background-color: #8c222c;
}
.fo3 {
    font-size: 13px;
}
.navUl li:hover {
    background-color: #8c222c;
}
.lunboimgx:hover {
   opacity:.5;
}     
     
.navli2:hover .showBook1 {
    display: block;
}


    .banner {
      width: 1200px;
      height: 490px;
      margin: 10px auto;
}
        #banner-div {
            width: 180px;
            height: 490px;
            text-align: center;
            float: left;
            overflow:hidden; 
        }
        
        .banner2{
            width: 1000px;
            height: 490px;
            float: left;
        }
        .banner-h3{
            height: 30px;
            line-height: 30px;
            margin-left: 5px;
        }
        .banner-ul{
            width: 1000px;
            height: 490px;
         margin-top: 10px;
         margin-left: 5px;
        }
           .banner-li {
               width: 140px;
               height: 234px;
               text-align: center;
               float: left;
               margin:0 25px 0 0;
           }

           .banner-li h3 {
               display: block;
               width: 98px;
               font-size: 12px;
               color: #333;
               word-break: break-all;
               max-height: 40px;
               line-height: 20px;
               overflow: hidden;
               margin: 0 auto;
               height: 40px;
           }
           .divimg{
               width: 180px;
               height: 290px;
            //    margin-top: 20px;
               float: left;
           }
           .divimg span{
               display: block;
               margin-top: 10px;
               overflow: hidden;
               position: relative;
        }
    .fo4 {
        width: 180px;
        height: 30px;
        background-color: #8c222c;
        text-align: center;
        line-height: 30px;
    }
      .fo3 li {
          height: 30px;
          width: 180px;
          line-height: 30px;
          text-align: center;
      }
      .divimg-div{
         float: left;
         width: 1000px;
         height: 530px;   
      }
      .divimg-div-top{
          width: 360px;
          height: 140px;
          margin-top:20px;
      }
      .divimg-div-top-left{
        float: left;
      }
      .divimg-div-top-right{
          width: 210px;
          height: 140px;
         float:right;

      }
      .divimg-div-top-right h3{
          height: 30px;
          line-height: 30px;
      }
       .divimg-div-top-right h4 {
           height: 30px;
           line-height: 30px;
       }
       .listyle{float: left;
        border:1px solid silver;
    margin: 0 50px 20px 80px;}
      .divimg-div-top-right-span{
            position: relative;
            float: left;
            font-size: 12px;
            height: 24px;
            margin-top:30px;
            line-height: 24px;
            border: 1px solid #dfc49b;
            padding: 0 6px;
            color: #C28F42;
            margin-right: 9px;
            margin-bottom: 10px;
            
    }
    .divimg-div-button{
        width: 360px;
        height: 30px;
     
    }
     .divimg-div-button1{
          display: block;
         width: 100px;
          height: 30px;
          float: left;
          line-height: 30px;
              font-size: 14px;
              color: #f00;
              margin-left: 15px;
     }
  .divimg-div-button2{
          display: block;
          width: 112px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background: #8c222c;
          font-size: 14px;
          color: #fff;
          border-radius: 2px;
          cursor: pointer;
          float:right;
          margin-right: 15px;
         
  }
  .showimg{
      float: left;
      margin:0 5px;
  }
    .banner21 {
        width: 825px;
        height: 490px;
        float: left;
        margin-top: 20px;
        margin-top: 30px;
    }

    .banner-h31 {
        height: 30px;
        line-height: 30px;
        margin-left: 5px;
    }

    .banner-ul1 {
        width: 825px;
        height: 490px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .banner-li1 {
        width: 140px;
        height: 234px;
        text-align: center;
        float: left;
        margin: 0 25px 0 0;
    }

    .banner-li1 h3 {
        display: block;
        width: 98px;
        font-size: 12px;
        color: #333;
        word-break: break-all;
        max-height: 40px;
        line-height: 20px;
        overflow: hidden;
        margin: 0 auto;
        height: 40px;
    }
    .rank1{
        width: 300px;
        height: 540px;
        float:right;
        margin-top: 30px;
    }
    .rank1-h31{
        height: 40px;
        width: 300px;
        line-height: 40px;
        margin-top: 10px;
    }
    .rank1-li h4{
        height: 30px;
    }
     .rank1-li h5 {
        height: 20px;
    }
    .w5{
        margin-bottom:20px;
    }
    .w6{
        margin-top: 20px;
    }

     .banner211 {
         width: 825px;
         height: 490px;
         float: left;
         margin-top: 100px;
     }

     .banner-h311 {
         height: 30px;
         line-height: 30px;
         margin-left: 5px;
     }

     .banner-ul11 {
         width: 825px;
         height: 490px;
         margin-top: 10px;
         margin-left: 5px;
     }

     .banner-li11 {
         width: 140px;
         height: 234px;
         text-align: center;
         float: left;
         margin: 0 25px 0 0;
     }

     .banner-li11 h3 {
         display: block;
         width: 98px;
         font-size: 12px;
         color: #333;
         word-break: break-all;
         max-height: 40px;
         line-height: 20px;
         overflow: hidden;
         margin: 0 auto;
         height: 40px;
     }

     .rank11 {
         width: 300px;
         height: 540px;
         float: right;
         margin-top: 30px;
     }

     .rank1-h311 {
         height: 40px;
         width: 300px;
         line-height: 40px;
         margin-top: 10px;
     }

     .rank1-li1 h4 {
         height: 30px;
     }

     .rank1-li1 h5 {
         height: 20px;
     }

     .w5 {
         margin-bottom: 20px;
     }
     .w6 {
         margin-top: 20px;
     }
     .paimai{
         width: 1200px;
         height: 420px;
         margin-top: 50px;
     }
    
     .alllist1{
         width: 1200px;
         height: 150px;
         float: left;
         margin-top: 30px;
     }
     .alllist1 li {
        width: 200px;
        height: 30px;
        float: left;
        margin: 5px;

     }
     .lol{
         float: left;
         height: 30px;
         margin-top: 30px;
         font-size:18px;
     }
     .last{
         float: left;
            width: 1000px;

     }
     .lastp{
         height: 100px;
         width: 1000px;
         float: left;
     }
     .fix{
         position:fixed;
         top:500px;
         right:25px;
         height: 30px;
         width: 15px;
     }
     .loginAll {
         position: relative;
     }

     .loginShadow {
         width: 100px;
         float: left;
         position: absolute;
         top: 40px;
         left: 860px;
         height: 120px;
         background-color: #fff;
         border: 1px solid silver;
         display: none;
     }

     .loginShadowP1 {
         width: 80px;
         height: 30px;
         background-color: #8c222c;
         margin: 5px auto;
         line-height: 30px;
         text-align: center;
         color: white;
         border: 1px solid silver;
         border-radius: 5px;
     }

     .loginShadowP2 {
         width: 80px;
         height: 30px;
         margin: 5px auto;
         line-height: 30px;
         text-align: center;
         background-color: silver;
         border: 1px solid silver;
         border-radius: 5px;
     }

     .loginShadowP3 {
         width: 80px;
         height: 30px;
         margin: 5px auto;
         line-height: 30px;
         text-align: center;
         background-color: silver;
         border: 1px solid silver;
         border-radius: 5px;
     }

     .loginDiv {
         position: fixed;
         margin:auto; 
         width: 400px;
         height: 340px;
         top:150px;
         left: 550px;
          display:none;
         background-color: rgb(230, 230, 230);
          .loginDiv-div p{
              width: 300px;
              font-size: 24px;
              height: 50px;
              line-height: 50px;
              margin-top: 20px;
              margin-left: 50px;
              float: left;
              
          }

          .sex {
              height: 40px;
              width: 300px;
              margin-left: 50px;
              margin-top: 20px;
          }
          .loginDiv-div2 h3{
                width: 300px;
                height: 50px;
                background-color: #8c222c;
                border:1px solid silver ;
                border-radius:5px;
                line-height: 50px;
                text-align: center;
                margin-top: 20px;
                margin-left: 50px;
          }
          .loginDiv-div-li1{
                 width: 120px;
                 height: 30px;
                 background-color: silver;
                 border:1px solid silver;
                 border-radius:5px;
                 line-height: 30px;
                 text-align: center;
                 margin-top: 20px;
                 margin-left: 60px;
                 float: left;
          }
           .loginDiv-div-li2 {
               width: 120px;
               height: 30px;
               background-color: silver;
               border: 1px solid silver;
               border-radius: 5px;
               line-height: 30px;
               text-align: center;
               margin-top: 20px;
               margin-left: 25px;
               float: left;
           }
     }


      .loginDiv1 {
          position: fixed;
          margin: auto;
          width: 400px;
          height: 340px;
          top: 120px;
          left: 550px;
        //   display: none;
          background-color: rgb(230, 230, 230);
}
          .loginDiv-div1 p {
              width: 300px;
              font-size: 24px;
              height: 50px;
              line-height: 50px;
              margin-top: 20px;
              margin-left: 50px;
              float: left;

          }

          .sex1 {
              height: 40px;
              width: 300px;
              margin-left: 50px;
              margin-top: 20px;
          }

          #newbtn{
              width: 300px;
              height: 50px;
              background-color: #8c222c;
              border: 1px solid silver;
              border-radius: 5px;
              line-height: 50px;
              text-align: center;
              margin-top: 20px;
              margin-left: 50px;
          }

          .loginDiv-div-li11 {
              width: 120px;
              height: 30px;
              background-color: silver;
              border: 1px solid silver;
              border-radius: 5px;
              line-height: 30px;
              text-align: center;
              margin-top: 20px;
              margin-left: 60px;
              float: left;
          }

          .loginDiv-div-li21 {
              width: 120px;
              height: 30px;
              background-color: silver;
              border: 1px solid silver;
              border-radius: 5px;
              line-height: 30px;
              text-align: center;
              margin-top: 20px;
              margin-left: 25px;
              float: left;
          }
        
      
